/*
@import url('https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/css/source.css');
@import url('https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/css/addons/redesign/source.css');
*/

:root {
  --bluegray: #282c34;
  --accent-rgb: 255, 207, 249;
  --accent-hover: 40, 44, 52;
  --list-item-default: var(--bluegray);
  --title-bar: var(--bluegray);
  --title-custom: var(--bluegray);
  --bar-color: var(--bluegray);
  --bar-border-color: var(--bluegray);
  --sidebar-color: var(--bluegray);
  --chat-color: var(--bluegray);
  --input-color: #ffcffa;
}

.container-1eFtFS {
  background-image: url(https://nyanto.s-ul.eu/Oi3stxAg.png) !important;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container-YkUktl {
  background-color: var(--bluegray) !important;
}
