@import "https: //fonts.googleapis.com/css2?family=Quicksand&display=swap";

body {
  background: black;
  color: white;
  line-height: var(--font-lineheight-2);
  font-family: Quicksand, sans-serif, serif;
  font-size: var(--size-5);
}

div {
  margin: 1rem;
}